<%= form_with model: user ,url: users_path, local: true do |f| %>
  <p class="status"></p>
  <div class="text-center mb-3">
    <div class="wp-social-login-widget">
      <div class="wp-social-login-connect-with">Connect with:</div>
      <div class="wp-social-login-provider-list">
        <%= link_to auth_at_provider_path(:provider => :facebook), title:"Connect with Google",class:"wp-social-login-provider wp-social-login-provider-google btn btn-primary  mx-1" do %>
          <i class="fab fa-facebook-f"></i>
        <% end %>
        <%= link_to auth_at_provider_path(:provider => :google), title:"Connect with Google",class:"wp-social-login-provider wp-social-login-provider-google btn btn-primary  mx-1" do %>
          <i class="fab fa-google"></i>
        <% end %>
      </div>
    </div>
  </div>
  <p class="text-center">or:</p>
  <div class="form-outline form-auth-mdb mb-4">
    <%= f.text_field :username, autofocus: true ,class: "form-control",id:"signonusername",required: ""%>
    <label for="signonusername" class="form-label" style="margin-left: 0px;">Your username</label>
    <div class="invalid-feedback">Please provide a valid username.</div>
    <div class="form-notch">
      <div class="form-notch-leading" style="width: 9px;"></div>
      <div class="form-notch-middle" style="width: 8px;"></div>
      <div class="form-notch-trailing"></div>
    </div>
  </div>
  <div class="form-outline form-auth-mdb mb-4">
    <%= f.email_field :email, autofocus: true, id: "signonemail", autocomplete: "email",class: "form-control",required: "" %>
    <label for="email" class="form-label" style="margin-left: 0px;">Your email</label>
    <div class="invalid-feedback">Please provide a valid email.</div>
    <div class="form-notch">
      <div class="form-notch-leading" style="width: 9px;"></div>
      <div class="form-notch-middle" style="width: 8px;"></div>
      <div class="form-notch-trailing"></div>
    </div>
  </div>
  <div class="form-outline form-auth-mdb mb-4">
    <%= f.password_field :password, autocomplete: "new-password",class: "form-control", id: "signonpassword" , required: ""%>
    <label for="signonpassword" class="form-label" style="margin-left: 0px;">Your password</label>
    <div class="invalid-feedback">Please provide a valid password.</div>
    <div class="form-notch">
      <div class="form-notch-leading" style="width: 9px;"></div>
      <div class="form-notch-middle" style="width: 8px;"></div>
      <div class="form-notch-trailing"></div>
    </div>
  </div>
  <div class="form-outline form-auth-mdb mb-4">
    <%= f.password_field :password_confirmation, autocomplete: "new-password",class: "form-control", id: "password2", required: ""%>
    <label for="password2" class="form-label" style="margin-left: 0px;">Repeat password</label>
    <div id="repeat-password-feedback" class="invalid-feedback">Please repeat the password.</div>
    <div class="form-notch">
      <div class="form-notch-leading" style="width: 9px;"></div>
      <div class="form-notch-middle" style="width: 8px;"></div>
      <div class="form-notch-trailing"></div>
    </div>
  </div>
  <div class="form-text text-center small text-muted mb-4">
    By signing up you agree to data processing by the administrator.
  </div>
  <button class="btn btn-primary btn-block mb-3" id="AJAXAuthRegisterBtn" type="submit" value="SIGNUP">
    Sign up
  </button>
<% end %>
