
<div class="area" >
  <ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
  </ul>

  <div class="modal fade show" id="exampleCentralModal4" tabindex="-1" aria-labelledby="exampleModalLabel" data-gtm-vis-first-on-screen-2340190_1302="1053638" data-gtm-vis-total-visible-time-2340190_1302="100" data-gtm-vis-has-fired-2340190_1302="1" style="display: block;" aria-modal="true" role="dialog">
    <div class="modal-dialog modal-xl">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Mndarat form</h5>
        </div>
        <div class="modal-body p-4">
          <%= form_with model:@mandarat, url:mandarats_path, local:true do |f| %>
            <!-- Text input -->
            <div class="form-outline mb-4">
              <%= f.text_field :name ,class: "form-control" ,id: "form6Example"%>
              <%= f.hidden_field :user_id, :value => current_user.id %>
              <label class="form-label" for="form6Example" style="margin-left: 0px;">Title</label>
            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 97.6px;"></div><div class="form-notch-trailing"></div></div></div>

            <!-- 2 column grid layout with text inputs for the first and last names -->
              <div class="row mb-4">
                  <div class="col">
                    <%= f.fields_for :mandarats do |i| %>
                      <div class="form-outline form-new-text">
                        <%= i.hidden_field :user_id, :value => current_user.id %>
                        <%= i.hidden_field :title_id, :value => current_user.id %>
                        <%= i.text_field :name ,class: "form-control" ,id: "form6Example1"%>
                        <label class="form-label" for="form6Example1" style="margin-left: 0px;">Mandarat name</label>
                      <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68.8px;"></div><div class="form-notch-trailing"></div></div></div>
                    <% end %>
                  </div>
                  <div class="col">
                <%= f.fields_for :mandarats do |i| %>
                    <div class="form-outline form-new-text">
                      <%= i.hidden_field :user_id, :value => current_user.id %>
                      <%= i.hidden_field :title_id, :value => current_user.id %>
                      <%= i.text_field :name ,class: "form-control" ,id: "form6Example2"%>
                      <label class="form-label" for="form6Example2" style="margin-left: 0px;">Mandarat name</label>
                    <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68px;"></div><div class="form-notch-trailing"></div></div></div>
                <% end %>
                  </div>
              </div>
            <!--<div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <%#= f.text_field :name ,class: "form-control" ,id: "form6Example3"%>
                  <label class="form-label" for="form6Example3" style="margin-left: 0px;">3st name</label>
                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68.8px;"></div><div class="form-notch-trailing"></div></div></div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <%#= f.text_field :name ,class: "form-control" ,id: "form6Example4"%>
                  <label class="form-label" for="form6Example4" style="margin-left: 0px;">4st name</label>
                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68px;"></div><div class="form-notch-trailing"></div></div></div>
              </div>
            </div>

            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <%#= f.text_field :name ,class: "form-control" ,id: "form6Example5"%>
                  <label class="form-label" for="form6Example5" style="margin-left: 0px;">5st name</label>
                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68.8px;"></div><div class="form-notch-trailing"></div></div></div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <%#= f.text_field :name ,class: "form-control" ,id: "form6Example6"%>
                  <label class="form-label" for="form6Example6" style="margin-left: 0px;">6st name</label>
                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68px;"></div><div class="form-notch-trailing"></div></div></div>
              </div>
            </div>

            <div class="row mb-4">
              <div class="col">
                <div class="form-outline">
                  <%#= f.text_field :name ,class: "form-control" ,id: "form6Example7"%>
                  <label class="form-label" for="form6Example7" style="margin-left: 0px;">7st name</label>
                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68.8px;"></div><div class="form-notch-trailing"></div></div></div>
              </div>
              <div class="col">
                <div class="form-outline">
                  <%#= f.text_field :name ,class: "form-control" ,id: "form6Example8"%>
                  <label class="form-label" for="form6Example8" style="margin-left: 0px;">8st name</label>
                <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68px;"></div><div class="form-notch-trailing"></div></div></div>
              </div>
            </div> -->


            <!-- Text input -->
            <!-- <div class="form-outline mb-4">
              <input type="text" id="form6Example4" class="form-control">
              <label class="form-label" for="form6Example4" style="margin-left: 0px;">Address</label>
            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 55.2px;"></div><div class="form-notch-trailing"></div></div></div> -->

            <!-- Email input -->
            <!-- <div class="form-outline mb-4">
              <input type="email" id="form6Example5" class="form-control">
              <label class="form-label" for="form6Example5" style="margin-left: 0px;">Email</label>
            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 40px;"></div><div class="form-notch-trailing"></div></div></div> -->

            <!-- Number input -->
            <!-- <div class="form-outline mb-4">
              <input type="number" id="form6Example6" class="form-control">
              <label class="form-label" for="form6Example6" style="margin-left: 0px;">Phone</label>
            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 44px;"></div><div class="form-notch-trailing"></div></div></div> -->

            <!-- Message input -->
            <!--<div class="form-outline mb-4">
              <textarea class="form-control" id="form6Example7" rows="4"></textarea>
              <label class="form-label" for="form6Example7" style="margin-left: 0px;">Additional information</label>
            <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 135.2px;"></div><div class="form-notch-trailing"></div></div></div> -->

            <!-- Checkbox -->
            <div class="form-check d-flex justify-content-center mb-4">
              <!-- <input class="form-check-input me-2" type="checkbox" value="" id="form6Example8" checked="">
              <label class="form-check-label" for="form6Example8"> Create an account? </label> -->
            </div>

            <!-- Submit button -->
            <%= f.submit "投稿",class: "btn btn-primary btn-block" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
