<div class="mandarat">
  <div class="mandarat-main">
    <section class="pb-4">
      <section class="w-100 p-4 text-center">
        <table class="table table-borderless">
          <tbody>
            <tr>
              <td>
                <button 
                    type="button" 
                    class="mandarat-main-button" 
                    data-mdb-toggle="modal" 
                    data-mdb-target="#staticBackdrop8" style="">
                  <%= @target[0].name %>
                </button>
                <%= render 'template/modalmandaratnew8'%>
              </td>
              <td>
                <button 
                    type="button" 
                    class="mandarat-main-button" 
                    data-mdb-toggle="modal" 
                    data-mdb-target="#staticBackdrop9" style="">
                  <%= @target[1].name %>
                </button>
                  <%= render 'template/modalmandaratnew9'%>
              </td>
              <td>
                <button 
                    type="button" 
                    class="mandarat-main-button" 
                    data-mdb-toggle="modal" 
                    data-mdb-target="#staticBackdrop10" style="">
                  <%= @target[2].name %>
                </button>
                  <%= render 'template/modalmandaratnew10'%>
              </td>
            </tr>
            <tr>
              <td>
                <button 
                    type="button" 
                    class="mandarat-main-button" 
                    data-mdb-toggle="modal" 
                    data-mdb-target="#staticBackdrop11" style="">
                  <%= @target[3].name %>
                </button>
                  <%= render 'template/modalmandaratnew11'%>
              </td>
              <td>
                <%= link_to mandarats_path  do %>
                  <div class="mandarat-main-button">
                    <%= @mandarat.name %>
                  </div>
                <% end %>
              </td>
              <td>
                <button 
                    type="button" 
                    class="mandarat-main-button" 
                    data-mdb-toggle="modal" 
                    data-mdb-target="#staticBackdrop12" style="">
                  <%= @target[4].name %>
                </button>
                  <%= render 'template/modalmandaratnew12'%>
              </td>
            </tr>
            <tr>
              <td>
                <button 
                    type="button" 
                    class="mandarat-main-button" 
                    data-mdb-toggle="modal" 
                    data-mdb-target="#staticBackdrop13" style="">
                  <%= @target[5].name %>
                </button>
                  <%= render 'template/modalmandaratnew13'%>
              </td>
              <td>
                <button 
                    type="button" 
                    class="mandarat-main-button" 
                    data-mdb-toggle="modal" 
                    data-mdb-target="#staticBackdrop14" style="">
                  <%= @target[6].name %>
                </button>
                  <%= render 'template/modalmandaratnew14'%>
              </td>
              <td>
                <button 
                    type="button" 
                    class="mandarat-main-button" 
                    data-mdb-toggle="modal" 
                    data-mdb-target="#staticBackdrop15" style="">
                  <%= @target[7].name %>
                </button>
                  <%= render 'template/modalmandaratnew15'%>
              </td>
            </tr>
          </tbody>
        </table>
      </section>
      <%= render 'template/logout'%>
    </section>
  </div>
  <div class="mandarat-font">
    <canvas id="myCanvas"></canvas>
  </div>
</div>


