<div class="modal fade show" id="exampleModalScrollable" tabindex="-1" aria-labelledby="exampleModalScrollableTitle" style="display: block;" aria-modal="true" role="dialog" data-gtm-vis-recent-on-screen-2340190_1302="37077" data-gtm-vis-first-on-screen-2340190_1302="37077" data-gtm-vis-total-visible-time-2340190_1302="100" data-gtm-vis-has-fired-2340190_1302="1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">
          【ポートフォリオ投稿】
        </h5>
      </div>
      <div class="modal-body">
        <%= form_with model:@portfolio, url: homes_path, local:true do |f| %>
          <div class="form-outline mb-4">
            <%= f.text_field :name ,class: "form-control" ,id: "form6Example"%>
            <label class="form-label" for="form6Example" style="margin-left: 0px;">name</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 97.6px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
          </div>
          <div class="form-outline mb-4">
            <%= f.text_area :text ,class: "form-control" ,id: "form6Example",rows:"4"%>
            <label class="form-label" for="form6Example" style="margin-left: 0px;">text</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 97.6px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
          </div>
          <div class="form-outline mb-4">
            <%= f.text_field :url ,class: "form-control" ,id: "form6Example"%>
            <label class="form-label" for="form6Example" style="margin-left: 0px;">URL</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 97.6px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
          </div>
          <div class="form-outline mb-4">
            <%= f.text_field :github ,class: "form-control" ,id: "form6Example"%>
            <label class="form-label" for="form6Example" style="margin-left: 0px;">github</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 97.6px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
          </div>
          <div class="form-outline mb-4">
            <%= f.text_field :tagnames, placeholder:",で区切ってください 例：Ruby,Python"  ,class: "form-control" ,id: "form6Example"%>
            <label class="form-label" for="form6Example" style="margin-left: 0px;">カテゴリ</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 97.6px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
          </div>
          <label class="form-label" for="customFile">画像を追加してください</label>
          <%= f.file_field :image, class:"form-control", id:"customFile" %>
          <div class="modal-footer">
            <%= f.submit "投稿",class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
