<div id="particles-js"></div>

<div class="modal fade show" id="exampleModalScrollable" tabindex="-1" aria-labelledby="exampleModalScrollableTitle" style="display: block;" aria-modal="true" role="dialog" data-gtm-vis-recent-on-screen-2340190_1302="37077" data-gtm-vis-first-on-screen-2340190_1302="37077" data-gtm-vis-total-visible-time-2340190_1302="100" data-gtm-vis-has-fired-2340190_1302="1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">
          【ポートフォリオ投稿】
        </h5>
      </div>
      <div class="modal-body">
        <%= form_with model:@portfolio, url: homes_path, local:true do |f| %>
          <div class="form-outline mb-4">
            <%= f.text_field :name ,class: "form-control" ,id: "form6Example"%>
            <label class="form-label" for="form6Example" style="margin-left: 0px;">name</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 97.6px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
          </div>
          <div class="form-outline mb-4">
            <%= f.text_area :text ,class: "form-control" ,id: "form6Example",rows:"4"%>
            <label class="form-label" for="form6Example" style="margin-left: 0px;">text</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 97.6px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
          </div>
          <div class="form-outline mb-4">
            <%= f.text_field :url ,class: "form-control" ,id: "form6Example"%>
            <label class="form-label" for="form6Example" style="margin-left: 0px;">URL</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 97.6px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
          </div>
          <div class="form-outline mb-4">
            <%= f.text_field :github ,class: "form-control" ,id: "form6Example"%>
            <label class="form-label" for="form6Example" style="margin-left: 0px;">github</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 97.6px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
          </div>
          <div class="form-outline mb-4">
            <%= f.text_field :tagnames, placeholder:",で区切ってください 例：Ruby,Python"  ,class: "form-control" ,id: "form6Example"%>
            <label class="form-label" for="form6Example" style="margin-left: 0px;">カテゴリ</label>
            <div class="form-notch">
              <div class="form-notch-leading" style="width: 9px;"></div>
              <div class="form-notch-middle" style="width: 97.6px;"></div>
              <div class="form-notch-trailing"></div>
            </div>
          </div>
          <label class="form-label" for="customFile">画像を追加してください</label>
          <%= f.file_field :image, class:"form-control", id:"customFile" %>
          <div class="modal-footer">
            <%= f.submit "投稿",class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
<script src="https://coco-factory.jp/ugokuweb/wp-content/themes/ugokuweb/data/move02/5-7/js/5-7.js"></script>

<script>
particlesJS("particles-js",{
  "particles":{
    "number":{
      "value":50,//この数値を変更するとホタルの数が増減できる
      "density":{
        "enable":true,
        "value_area":1602.3971861905397
      }
    },
    "color":{
      "value":"#f3fa8b"//色
    },
    "shape":{
      "type":"circle",//形状はcircleを指定
      "stroke":{
        "width":0,
      }
    },
    "opacity":{
      "value":1,
      "random":true,//透過をランダムに
      "anim":{
        "enable":false,
        "speed":1.10115236356258881,
        "opacity_min":0,
        "sync":false
      }
    },
    "size":{
      "value":4.005992965476349,
      "random":true,//サイズをランダムに
      "anim":{
        "enable":true,
        "speed":24.345709068776642,
        "size_min":0.1,
        "sync":false
      }
    },
    "line_linked":{
      "enable":false,
    },
    "move":{
      "enable":true,
      "speed":6,//この数値を小さくするとゆっくりな動きになる
      "direction":"none",//方向指定なし
      "random":true,//動きはランダムに
      "straight":false,//動きをとどめない
      "out_mode":"out",//画面の外に出るように描写
      "bounce":false,//跳ね返りなし
      "attract":{
        "enable":false,
        "rotateX":600,
        "rotateY":600
      }
    }
  },
  "interactivity":{
    "detect_on":"canvas",
    "events":{
      "onhover":{
        "enable":false
      },
      "onclick":{
        "enable":false
      },
      "resize":true
    }
  },
  "retina_detect":true
});
</script>
