<div class="modal fade show" id="exampleModalScrollable" tabindex="-1" aria-labelledby="exampleModalScrollableTitle" style="display: block;" aria-modal="true" role="dialog" data-gtm-vis-recent-on-screen-2340190_1302="37077" data-gtm-vis-first-on-screen-2340190_1302="37077" data-gtm-vis-total-visible-time-2340190_1302="100" data-gtm-vis-has-fired-2340190_1302="1">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalScrollableTitle">
        【<%= @mandarats.name %>】達成率アンケート
        </h5>
      </div>
      <div class="modal-body">
        <%= form_with model:@info, local:true do |f| %>
          <%= f.hidden_field :mandarat_id, :value => @mandarats.id %>
          <section class="w-100 p-4 text-center pb-4">
            <h5><%= @mandarats.targets[0].name %>は達成できたか？</h5>
            <div class="form-check form-check-inline">
              <%= f.radio_button :solved1, '1', id:"inlineRadio1" %>
              <%= f.label :solved1, 'Yes', value: 1,class:"form-check-label", for:"inlineRadio1"%>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :solved1, '0', id:"inlineRadio2" %>
              <%= f.label :solved1, 'No', value: 0,class:"form-check-label", for:"inlineRadio2"%>
            </div>
          </section>
          <section class="w-100 p-4 text-center pb-4">
            <h5><%= @mandarats.targets[1].name %>は達成できたか？</h5>
            <div class="form-check form-check-inline">
              <%= f.radio_button :solved2, '1', id:"inlineRadio1" %>
              <%= f.label :solved2, 'Yes', value: 1,class:"form-check-label", for:"inlineRadio1"%>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :solved2, '0', id:"inlineRadio2" %>
              <%= f.label :solved2, 'No', value: 0,class:"form-check-label", for:"inlineRadio2"%>
            </div>
          </section>
          <section class="w-100 p-4 text-center pb-4">
            <h5><%= @mandarats.targets[2].name %>は達成できたか？</h5>
            <div class="form-check form-check-inline">
              <%= f.radio_button :solved3, '1', id:"inlineRadio1" %>
              <%= f.label :solved3, 'Yes', value: 1,class:"form-check-label", for:"inlineRadio1"%>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :solved3, '0', id:"inlineRadio2" %>
              <%= f.label :solved3, 'No', value: 0,class:"form-check-label", for:"inlineRadio2"%>
            </div>
          </section>
          <section class="w-100 p-4 text-center pb-4">
            <h5><%= @mandarats.targets[3].name %>は達成できたか？</h5>
            <div class="form-check form-check-inline">
              <%= f.radio_button :solved4, '1', id:"inlineRadio1" %>
              <%= f.label :solved4, 'Yes', value: 1,class:"form-check-label", for:"inlineRadio1"%>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :solved4, '0', id:"inlineRadio2" %>
              <%= f.label :solved4, 'No', value: 0,class:"form-check-label", for:"inlineRadio2"%>
            </div>
          </section>
          <section class="w-100 p-4 text-center pb-4">
            <h5><%= @mandarats.targets[4].name %>は達成できたか？</h5>
            <div class="form-check form-check-inline">
              <%= f.radio_button :solved5, '1', id:"inlineRadio1" %>
              <%= f.label :solved5, 'Yes', value: 1,class:"form-check-label", for:"inlineRadio1"%>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :solved5, '0', id:"inlineRadio2" %>
              <%= f.label :solved5, 'No', value: 0,class:"form-check-label", for:"inlineRadio2"%>
            </div>
          </section>
          <section class="w-100 p-4 text-center pb-4">
            <h5><%= @mandarats.targets[5].name %>は達成できたか？</h5>
            <div class="form-check form-check-inline">
              <%= f.radio_button :solved6, '1', id:"inlineRadio1" %>
              <%= f.label :solved6, 'Yes', value: 1,class:"form-check-label", for:"inlineRadio1"%>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :solved6, '0', id:"inlineRadio2" %>
              <%= f.label :solved6, 'No', value: 0,class:"form-check-label", for:"inlineRadio2"%>
            </div>
          </section>
          <section class="w-100 p-4 text-center pb-4">
            <h5><%= @mandarats.targets[6].name %>は達成できたか？</h5>
            <div class="form-check form-check-inline">
              <%= f.radio_button :solved7, '1', id:"inlineRadio1" %>
              <%= f.label :solved7, 'Yes', value: 1,class:"form-check-label", for:"inlineRadio1"%>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :solved7, '0', id:"inlineRadio2" %>
              <%= f.label :solved7, 'No', value: 0,class:"form-check-label", for:"inlineRadio2"%>
            </div>
          </section>
          <section class="w-100 p-4 text-center pb-4">
            <h5><%= @mandarats.targets[7].name %>は達成できたか？</h5>
            <div class="form-check form-check-inline">
              <%= f.radio_button :solved8, '1', id:"inlineRadio1" %>
              <%= f.label :solved8, 'Yes', value: 1,class:"form-check-label", for:"inlineRadio1"%>
            </div>
            <div class="form-check form-check-inline">
              <%= f.radio_button :solved8, '0', id:"inlineRadio2" %>
              <%= f.label :solved8, 'No', value: 0,class:"form-check-label", for:"inlineRadio2"%>
            </div>
          </section>
          
          <div class="modal-footer">
            <%= f.submit "投稿",class: "btn btn-primary" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

